@import url('./font.css');

:root {
    --orange: #F04E23;
    --yellow: #E99D23;
    --mehroon: #981B1E;
    --dark-brown: #501B15;
    --white: #ffffff;
    --black: #000000;

    /* --montserrat-100: "Montserrat", sans-serif, normal, 100;
    --montserrat-200: "Montserrat", sans-serif, normal, 200;
    --montserrat-300: "Montserrat", sans-serif, normal, 300;
    --montserrat-400: "Montserrat", sans-serif, normal, 400;
    --montserrat-500: "Montserrat", sans-serif, normal, 500;
    --montserrat-600: "Montserrat", sans-serif, normal, 600;
    --montserrat-700: "Montserrat", sans-serif, normal, 700;
    --montserrat-800: "Montserrat", sans-serif, normal, 800;
    --montserrat-900: "Montserrat", sans-serif, normal, 900; */

    --h-lg-h2: 50px;
    --h-md-h2: 40px;
    --h-sm-h2: 43px;

    --h-lg-h3: 30px;
    --h-md-h3: 30px;
    --h-sm-h3: 20px;

    --h-lg-h4: 50px;
    --h-md-h4: 40px;
    --h-sm-h4: 20px;

    --p-18: 18px;
    --p-20: 18px;
    --transition: all 0.6s ease
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* Medium weight */
}



body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* Medium weight */
}

::-webkit-scrollbar {
    width: 1.3vh
}

::-webkit-scrollbar-track {
    background: var(--white)
}

::-webkit-scrollbar-thumb {
    background: var(--mehroon)
}

main {
    /* background: linear-gradient(180deg, rgba(240, 78, 35, 1), rgba(233, 157, 35, 1)) */
}

/* =========== Default ============ */
.custom-width {
    width: calc(100% - 15vw);
    border: 2px solid green;
    margin: auto;
}

img {
    width: 100%;
}


/* =========== Banner ============ */

.banner-owl-wrapper {
    position: relative;
}

.banner-owl-wrapper::before {
    background: url('../img/red-shape-1.webp');
    background-repeat: repeat-x;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 15vh;
    z-index: 9;
}

.banner-owl-wrapper .owl-items {
    border-bottom-right-radius: 522px;
    overflow: hidden;
    margin-top: 57px;
}

.banner-owl-wrapper .owl-dots {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.banner-owl-wrapper .owl-dots span {
    width: 2vh !important;
    height: 2vh !important;
    background: var(--white) !important;
    margin: 1vh !important;
}

.banner-owl-wrapper .owl-dots .active span {
    background: var(--mehroon) !important;
}
.owl-items-content{
    position: absolute;
    top: 50%;
    z-index: 99;
    /* width: 100%;
    max-width: 55%; */
    transform: translateY(-50%);
}

/* process */
.process-content-wrapper {
    /* display: flex;
    flex-direction: column;
    padding-bottom: 100px; */
}

.cards {
    margin-left: 100px;
}

.process-items {
    /* height: 60vh; */
    /* width: 400px; */
    margin-bottom: 50px;
    /* background: white; */
    font-size: 36px;
    /* opacity: 0; */
    /* background: red; */
    background: var(--orange);
}
.first .process-items{
    /* opacity: 1 !important; */
}

/* ========== Product Slider =============== */
/* .product-slider .owl-items {
    position: relative;
}
.product-slider .owl-items::before {
    content: "v";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom-right-radius: 522px;
    overflow: hidden;
    background-color: var(--dark-brown);
} */


.product-section {
    position: relative;
    /* overflow: hidden; */
}

.product-section::after {
    background: url(../img/red-shape-2.webp);
    background-repeat: repeat-x;
    position: absolute;
    content: "";
    top: -232px;
    left: 0px;
    width: 100%;
    height: 47vh;
    z-index: 1;
}
.product-section {
    position: relative;
}
.product-section::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    border-bottom-right-radius: 60vh;
    overflow: hidden;
    background-color: var(--dark-brown);
}
.product-slider img{
    width: 65% !important;
}
 /* Basic styling for slides */
 .owl-carousel .item {
    /* background: #4a90e2; */
    /* padding: 40px;
    color: white;
    text-align: center; */
}

/* Custom dots styling */
.custom-dots {
    text-align: center;
    margin-top: 20px;
}

.custom-dots .owl-dot {
    position: relative;
    color: var(--white);
    font-size: 2.2vh;
    font-weight: 700;
}
.custom-dots .owl-dot::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 3vh;
    height: 0.3vh;
    background-color: var(--white);
    transform: translateY(-50%);
    right: -6.5vh;

}
.custom-dots .owl-dot.active {
   color: var(--orange);

}
.custom-dots .owl-dot.active::after {
    background-color: var(--orange);

}
.custom-dots .owl-dot:last-child::after{
    display: none;
}

/* tabs */
.recipe-section .tab-content {
    display: none; /* Hide all tabs initially */
}
.recipe-section .tab-content.active {
    display: grid; /* Show active tab */
}
.recipe-section .tabs button.active {
    background-color: var(--white);
}
.recipe-section .tabs button.active .recipe-number {
    background-color: var(--yellow);
    color: var(--white);
}

/* ========== Recipe Slider =============== */

/* ========== Testimonial =============== */
.testimonial-slider .owl-dots {
    position: absolute;
    right: 15vh;
    bottom: 10vh;
}
.testimonial-slider .owl-dots .owl-dot span {
    border: 1px solid var(--white);
    width: 2vh !important;
    height: 2vh !important;
    background: transparent !important;
    margin: 1vh !important;
}
.testimonial-slider .owl-dots .owl-dot.active span, 
.testimonial-slider .owl-dots .owl-dot:hover span {
    background: var(--white) !important;
}

/* ========== Footer =============== */
/* .footer{
    background-image: url('../img/footer-bg.webp');
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: contain;
    position: absolute;
    left: 0;
    top:0;
    background-repeat: no-repeat;
} */
.footer-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: contain;
    /* z-index: 9; */
    /* background-color: red; */
    background-repeat: no-repeat;
    background-image: url(../img/footer-bg.webp);
    background-position: center bottom;
}

@media(max-width: 1024px) {

    .custom-width{
        width: calc(100% - 100px);
    }
}
@media(max-width: 768px) {

    header,
    section,
    footer {
        width: calc(100% - 50px);
    }
}
@media(max-width: 767px) {

    header,
    section,
    footer {
        width: calc(100% - 30px);
    }
}